@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Trispace:wght@600&display=swap');
/* font-family: 'Source Code Pro', monospace;
font-family: 'Trispace', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* font-family: 'Source Code Pro', monospace; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
}

/* ---GRID--- */

.gridContainer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: rgb(105, 190, 19);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 85px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
}


/* ---REAL HEADER--- */
.encabezado {
    background-color: rgba(0, 0, 0, 0.322);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado nav ul {
    display: flex;
    list-style: none;
}

.encabezado nav ul li a{
    text-decoration: none;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: rgb(17, 199, 160);
    font-size: 30px;
    font-weight: 100;
}

.lista{
    margin-right: 30px;
}

.lista{
    transition: 1s;
}

.lista:hover{
    transform: scale(0.9);
}

.listaContacto{
    margin-right: 20px;
}

.listaContacto{
    transition: 1s;
}

.listaContacto:hover{
    transform: scale(0.9);
}

/* ---REAL MAIN--- */

.main {
    grid-area: main;
    background-color: rgba(0, 0, 0, 0);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.apartadoPrincipal h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-bottom: 25px;
}

.apartadoPrincipal h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.apartadoPrincipal p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.parteUnoParrafoDos {
    margin-bottom: 8px;
}

.parrafoDosInicio {
    margin-top: 8px;
    margin-bottom: 75px;
}

.botonesInicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.botonesInicio a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: rgb(17, 199, 160);
    font-size: 30px;
    font-weight: 500;
}

.botonInicioUno{
    background-color: rgba(109, 117, 108, 0.432);
    margin-right: 70px;
    transition: 1s;
}

.botonInicioUno:hover{
    transform: scale(1.2);
}

.botonInicioUno a {
    padding: 10px;
} 

.botonInicioDos{
    background-color: rgba(109, 117, 108, 0.432);
    margin-right: 70px;
    transition: 1s;
}

.botonInicioDos:hover{
    transform: scale(1.2);
}
.botonInicioDos a {
    padding: 10px;
}

.botonInicioTres{
    background-color: rgba(109, 117, 108, 0.432);
    margin-right: 48px;
    transition: 0.5s;
}

.botonInicioTres:hover{
    transform: scale(1.2);
}

.botonInicioTres a {
    padding: 10px;
}

/* ---REAL FOOTER--- */
.pie {
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.322);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(17, 199, 160);
}

footer img {
    height: 40px;
    width: 40px;
}

.logosInicio {
    display: flex;
    justify-content: space-evenly
}

.pieDePagina {
    margin-right: 5px;
}



/* ---MEDIA QUERIES INICIO--- */

@media screen and (max-width:1165px) {
    .encabezado {
        flex-direction: column;
    }

    .gridContainer {
        height: auto;
    }
}

@media screen and (max-width:1629px) {
    .gridContainer {
        height: 100vh;
    }
}

@media screen and (max-width:1154px){
    .gridContainer{
        grid-template-rows: auto auto auto;
        height: 110vh;
    }
}

@media screen and (max-width:1044px) {
    .gridContainer {
        height: auto;
    }
}

@media screen and (max-width:980px) {
    .parrafoDosInicio {
        margin-bottom: 55px;
    }

    .botonesInicio {
        flex-direction: column;
    }

    .botonInicioUno {
        margin-bottom: 20px;
        margin-left: 70px;
    }

    .botonInicioDos {
        margin-bottom: 20px;
        margin-left: 70px;
    }

    .botonInicioTres {
        margin-bottom: 20px;
        margin-left: 50px;
    }

    .gridContainer {
        grid-template-rows: auto 930px auto;
    }
}

@media screen and (max-width:953px) {
    .gridContainer{
        height: auto;
    }
}

@media screen and (max-width:929px) {
    .gridContainer {
        grid-template-rows: auto auto auto;
        height: auto;
    }
    .main{
        margin-top: 30px;
    }
}

@media screen and (max-width:861px) {
    .gridContainer {
        grid-template-rows: auto auto auto;
    }
}

@media screen and (max-width:830px) {
    .encabezado nav ul {
        flex-direction: column;
        align-items: center
    }
    .encabezado img {
        width: 0;
        height: 0;
    }
}

@media screen and (max-width:804px) {
    .gridContainer {
        height: auto;
    }
}

@media screen and (max-width:720px) {
    .gridContainer {
        height: auto;
    }
}

@media screen and (max-width:609px) {
    .pie h2 {
        font-size: 0;
    }
}

@media screen and (max-width:414px) {
    .gridContainer{
        height: 110vh;
    }
    .main h1{
        font-size: 20px;
    }
    .main h2{
        font-size: 18px;
    }
    .main p{
        font-size: 15px;
    }
    .encabezado nav ul li a{
        font-size: 20px;
    }
    .pie p{
        font-size: 15px;
    }
    .botonesInicio a{
        font-size: 20px;
    }
} 

@media screen and (max-width:386px) {
    .gridContainer{
        height: auto;
    }
}

@media screen and (max-width:380px){
    .parrafoDosInicio{
        margin-bottom: 10px;
    }
    .gridContainer{
        height: 120vh;
    }
}

@media screen and (max-width:329px) {
    .main h1{
        font-size: 15px;
    }
    .main h2{
        font-size: 15px;
    }
    .main p{
        font-size: 15px;
    }
    .encabezado nav ul li a{
        font-size: 15px;
    }
    .pie p{
        font-size: 10px;
    }
    .botonesInicio a{
        font-size: 15px;
    }
} 

@media screen and (max-width:290px) {
    .gridContainer {
        height: 100vh;
    }
}



















/* ---GRID PERIFERICOS---*/

.gridContainer2 {
    width: 100%;
    height: 195vh;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: rgb(105, 190, 19);
}

.gridContainer2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 85px;
    grid-template-areas:
        "header header header"
        "main2 main2 main2"
        "footer footer footer"
    ;
}

/* ---MAIN PERIFERICOS--- */

.main2 {
    grid-area: main2;
    background-color: rgba(0, 0, 0, 0);
}

.main2 {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
}

.main2 h2 {
    margin-top: 50px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.teclados {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: space-around;
}

.tecladoCard {
    background-color: rgba(29, 126, 139, 0.123);
    border: 1px solid rgb(41, 41, 41);
    margin: 8px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: ridge;
    border-color: rgb(173, 167, 167);
}

.teclados img {
    max-width: 105%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    object-fit: cover;
}

.tecladoCard a {
    margin-top: 30px;
    margin-bottom: 25px;
    background-color: rgba(109, 117, 108, 0.432);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: rgb(17, 199, 160);
    font-size: 20px;
    font-weight: 100;
    transition: 0.5s;
}

.tecladoCard a:hover{
    transform: scale(1.2);
}

.todaLaInfo{
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.todaLaInfo:hover{
    transform: scale(1.1);
}

.todaLaInfo a{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 100;
    background-color: rgba(109, 117, 108, 0.432);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: rgb(17, 199, 160);
}

/*---MEDIA QUERIES PERIFERICOS---*/

@media screen and (max-width:1629px){
    .gridContainer2{
        height: auto;
}
.todaLaInfo{
    margin-bottom: 30px;
}
}

@media screen and (max-width:830px){
    .gridContainer2{
        height: auto;
        grid-template-rows: auto auto auto;
}
}

@media screen and (max-width:773px) {
    .todaLaInfo a{
        font-size: 18px;
    }
}

@media screen and (max-width:699px) {
    .todaLaInfo a{
        font-size: 15px;
    }
}

@media screen and (max-width:587px) {
    .todaLaInfo a{
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width:232px){
    .gridContainer2{
        height: auto;
    }
}

@media screen and (max-width:228px){
    .gridContainer2{
        height: auto;
    }
    .main2 img{
        width: 0;
        height: 0;
    }
}



















/*---GRID PC---*/

.gridContainer3 {
    width: 100%;
    height: 256vh;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: rgb(105, 190, 19);
}

.gridContainer3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 85px;
    grid-template-areas:
        "header header header"
        "main3 main3 main3"
        "footer footer footer"
    ;
}

/* ---MAIN PC--- */

.main3 {
    grid-area: main3;
    background-color: rgba(0, 0, 0, 0);
}

.main3 {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
}

.main3 h2 {
    margin-top: 50px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

/*---MEDIA QUERIES PC---*/

@media screen and (max-width:1629px){
    .gridContainer3{
        height: auto;
}
}

@media screen and (max-width:830px){
    .gridContainer3{
        height: auto;
        grid-template-rows: auto auto auto;
}
}

@media screen and (max-width:232px){
    .gridContainer3{
        height: auto;
    }
}

@media screen and (max-width:228px){
    .gridContainer3{
        height: auto;
    }
    .main3 img{
        width: 0;
        height: 0;
    }
}
















/*---GRID NOTICIAS---*/

.gridContainer4 {
    width: 100%;
    height: 195vh;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: rgb(105, 190, 19);
}

.gridContainer4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 85px;
    grid-template-areas:
        "header header header"
        "main4 main4 main4"
        "footer footer footer"
    ;
}

/* ---MAIN NOTICIAS--- */

.main4 {
    grid-area: main4;
    background-color: rgba(0, 0, 0, 0);
}

.main4 h2 {
    margin-top: 35px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.main4 hr {
    margin-bottom: 30px;
}

.main4 h3 {
    margin-bottom: 25px;
    font-size: 25px;
    color: rgb(17, 199, 160);
}

.gridNoticias {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 300px;
    row-gap: 100px;
}

.gridNoticias div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gridItem {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*---MEDIA QUERIES NOTICIAS---*/

@media screen and (max-width:1629px){
    .gridContainer4{
        height: auto;
}
}

@media screen and (max-width:867px){
    .gridContainer4{
        height: 230vh;
        grid-template-rows: auto auto auto;
}
}

@media screen and (max-width:830px){
    .gridContainer4{
        height: 230vh;
        grid-template-rows: auto auto auto;
}
}

@media screen and (max-width:766px){
    .gridNoticias{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:723px){
    .gridContainer4{
        height: 250vh;
    }
}

@media screen and (max-width:680px){
    .main4 hr{
        margin-bottom: 50px;
    }
}

@media screen and (max-width:639px){
    .gridNoticias{
        row-gap: 200px;
    }
    .gridContainer4{
        height: 300vh;
        grid-template-rows: auto auto auto;
    }
    .main4 hr{
        margin-bottom: 100px;
    }
}

@media screen and (max-width:508px){
    .gridNoticias{
        grid-template-columns: 0fr 3fr;
    }
}

@media screen and (max-width:400px){
    .gridContainer4{
        height: 230vh;
    }
    .gridNoticias{
        row-gap: 100px;
    }
        .main4 h2{
            font-size: 18px;
            text-align: center;
        }
        .main4 p{
            font-size: 15px;
        }
        .encabezado nav ul li a{
            font-size: 20px;
        }
        .pie p{
            font-size: 15px;
        }
    .main4 hr{
        margin-bottom: 50px;
    }
}

@media screen and (max-width:311px){
    .gridNoticias{
        row-gap: 150px;
    }
    .main4 hr{
        margin-bottom: 100px;
    }
    .gridContainer4{
        height: 270vh;
    }
}

@media screen and (max-width:285px){
    .gridContainer4{
        height: 280vh;
    }
    .gridNoticias{
        row-gap: 200px;
    }
}

@media screen and (max-width:280px){
    .gridContainer4{
        height: 300vh;
        grid-template-rows: auto auto auto;
    }
}

@media screen and (max-width:245px){
    .gridNoticias{
        row-gap: 240px;
    }
    .gridContainer4{
        height: 310vh;
    }
    .main4 hr{
        margin-bottom: 120px;
    }
}

@media screen and (max-width:240px){
    .gridContainer4{
        height: 310vh;
        grid-template-rows: 100px auto 100px;
    }
    .main4 hr{
        margin-bottom: 150px;
    }
    .gridNoticias{
        row-gap: 280px;
    }
}

@media screen and (max-width:232px){
    .gridContainer4{
        height: 330vh;
    }
    .gridNoticias{
        row-gap: 300px;
    }
}









/*---GRID CONTACTO---*/

.gridContainer5 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: rgb(105, 190, 19);
}

.gridContainer5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 85px;
    grid-template-areas:
        "header header header"
        "main5 main5 main5"
        "footer footer footer"
    ;
}

/* ---MAIN CONTACTO--- */

.main5 {
    grid-area: main5;
    background-color: rgba(0, 0, 0, 0);
}

/*---MEDIA QUERIES CONTACTO---*/

@media screen and (max-width:1165px){
    .main5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .gridContainer5{
        height: 100vh;
        grid-template-rows: 150px auto 100px;
    }
}

@media screen and (max-width:830px){
    .gridContainer5{
        grid-template-rows: 200px auto 100px;
    }
}

@media screen and (max-width:228px){
    .textarea{
        display: flex;
        flex-wrap: wrap;
    }
    .gridContainer5{
        height: 110vh;
    }
}













/*---GRID INFO---*/

.gridContainer6 {
    width: 100%;
    height: 350vh;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: rgb(105, 190, 19);
}

.gridContainer6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: auto 1605px auto; */
    grid-template-rows: 100px auto 85px;
    grid-template-areas:
        "header header header"
        "main6 main6 main6"
        "footer footer footer"
    ;
}

/* ---MAIN INFO--- */

.main6 {
    grid-area: main6;
    background-color: rgba(0, 0, 0, 0);
}

#ejemplo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

#ejemplo1 h2{
    font-size: 40px;
    color: rgb(17, 199, 160);
}

#ejemplo1 p{
    font-size: 25px;
}

.imgEjemplo1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.parrafoEjemplo1 p{
    margin-top: 15px;
    margin-bottom: 100px;
}

.compraEjemplo1 h3{
    font-size: 35px;
    margin-bottom: 5px;
}

.botonCompraEjemplo1{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}

.botonCompraEjemplo1 a{
    background-color: rgba(109, 117, 108, 0.432);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: rgb(17, 199, 160);
}



#ejemplo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

#ejemplo2 h2{
    font-size: 40px;
    color: rgb(17, 199, 160);
}

#ejemplo2 p{
    font-size: 25px;
}

.imgEjemplo2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.parrafoEjemplo2 p{
    margin-top: 15px;
    margin-bottom: 100px;
}

.compraEjemplo2 h3{
    font-size: 35px;
    margin-bottom: 5px;
}

.botonCompraEjemplo2{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}

.botonCompraEjemplo2 a{
    background-color: rgba(109, 117, 108, 0.432);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: rgb(17, 199, 160);
}



#ejemplo3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

#ejemplo3 h2{
    font-size: 40px;
    color: rgb(17, 199, 160);
}

#ejemplo3 p{
    font-size: 25px;
}

.imgEjemplo3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.parrafoEjemplo3 p{
    margin-top: 15px;
    margin-bottom: 100px;
}

.compraEjemplo3 h3{
    font-size: 35px;
    margin-bottom: 5px;
}

.botonCompraEjemplo3{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}

.botonCompraEjemplo3 a{
    background-color: rgba(109, 117, 108, 0.432);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: rgb(17, 199, 160);
}

/*---MEDIA QUERIES INFO---*/

@media screen and (max-width:1629px){
    .gridContainer6{
        height: auto;
    }
}

@media screen and (max-width:1165px){
    .gridContainer6{
        grid-template-rows: 150px auto 100px;
    }
}

@media screen and (max-width:830px){
    .gridContainer6{
        grid-template-rows: 200px auto 100px;
    }
}

@media screen and (max-width:708px){
    .main6 img{
        width: 500px;
        height: 300px;
    }
}

@media screen and (max-width:509px){
    .main6 img{
        width: 400px;
        height: 200px;
    }
    #ejemplo1 h2{
        font-size: 25px;
    }
    #ejemplo1 p{
        font-size: 18px;
    }
    #ejemplo2 h2{
        font-size: 25px;
    }
    #ejemplo2 p{
        font-size: 18px;
    }
    #ejemplo3 h2{
        font-size: 25px;
    }
    #ejemplo3 p{
        font-size: 18px;
    }
    .compraEjemplo1 h3{
        font-size: 20px;
    }
    .compraEjemplo1 p{
        font-size: 15px;
    }
    .botonCompraEjemplo1{
        font-size: 25px;
    }
    .compraEjemplo2 h3{
        font-size: 20px;
    }
    .compraEjemplo2 p{
        font-size: 15px;
    }
    .botonCompraEjemplo2{
        font-size: 25px;
    }
    .compraEjemplo3 h3{
        font-size: 20px;
    }
    .compraEjemplo3 p{
        font-size: 15px;
    }
    .botonCompraEjemplo3{
        font-size: 25px;
    }
    .encabezado nav ul li a{
        font-size: 25px;
    }
    .gridContainer6{
        grid-template-rows: 120px auto 100px;
    }
}

@media screen and (max-width:399px){
    .main6 img{
        width: 350px;
        height: 150px;
    }
}

@media screen and (max-width:349px){
    .main6 img{
        width: 0px;
        height: 0px;
    }
    #ejemplo1 h2{
        font-size: 20px;
    }
    #ejemplo1 p{
        font-size: 13px;
    }
    #ejemplo2 h2{
        font-size: 20px;
    }
    #ejemplo2 p{
        font-size: 13px;
    }
    #ejemplo3 h2{
        font-size: 20px;
    }
    #ejemplo3 p{
        font-size: 13px;
    }
    .compraEjemplo1 h3{
        font-size: 15px;
    }
    .compraEjemplo1 p{
        font-size: 10px;
    }
    .botonCompraEjemplo1{
        font-size: 15px;
    }
    .compraEjemplo2 h3{
        font-size: 15px;
    }
    .compraEjemplo2 p{
        font-size: 10px;
    }
    .botonCompraEjemplo2{
        font-size: 15px;
    }
    .compraEjemplo3 h3{
        font-size: 15px;
    }
    .compraEjemplo3 p{
        font-size: 10px;
    }
    .botonCompraEjemplo3{
        font-size: 15px;
    }
    .encabezado nav ul li a{
        font-size: 18px;
    }
}