@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Trispace:wght@600&display=swap");
/* font-family: 'Source Code Pro', monospace;
font-family: 'Trispace', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
/* font-family: 'Source Code Pro', monospace; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-wrap: wrap; }
  body h1::selection {
    background-color: #62a023;
    color: black; }
  body h2::selection {
    background-color: #62a023;
    color: black; }
  body h3::selection {
    background-color: #62a023;
    color: black; }
  body p {
    color: #4e8b70;
    padding-left: 25%;
    padding-right: 25%; }
    body p::selection {
      background-color: #4e8b70;
      color: black; }
  body a::selection {
    background-color: rgba(84, 195, 217, 0.847);
    color: whitesmoke; }
  body img::selection {
    background-color: rgba(245, 245, 220, 0.247); }
  body iframe::selection {
    background-color: rgba(245, 245, 220, 0.247); }

.gridContainer, .gridContainer2, .gridContainer3, .gridContainer4, .gridContainer5 {
  width: 100%;
  min-height: 100vh;
  max-height: 10000vh; }

.gridContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Trispace', sans-serif;
  color: #62a023;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px auto 100px;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

.gridContainer2 {
  background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Trispace', sans-serif;
  color: #62a023;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px auto 100px;
  grid-template-areas: "header header header" "main2 main2 main2" "footer footer footer"; }

.gridContainer3 {
  background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Trispace', sans-serif;
  color: #62a023;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px auto 100px;
  grid-template-areas: "header header header" "main3 main3 main3" "footer footer footer"; }

.gridContainer4 {
  background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Trispace', sans-serif;
  color: #62a023;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px auto 100px;
  grid-template-areas: "header header header" "main4 main4 main4" "footer footer footer"; }

.gridContainer5 {
  background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Trispace', sans-serif;
  color: #62a023;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px auto 100px;
  grid-template-areas: "header header header" "main5 main5 main5" "footer footer footer"; }

.navbar {
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.535); }

.nav-link {
  font-family: 'Source Code Pro', monospace;
  color: rgba(84, 195, 217, 0.847);
  font-size: 28px;
  font-weight: bold;
  margin-right: 15px;
  transition: 1s; }
  .nav-link:hover {
    transform: scale(0.8); }
  .nav-link i {
    font-size: 0; }

.navbar-toggler span i {
  color: #11c7a0;
  background-color: rgba(109, 117, 108, 0.432);
  font-size: 40px; }

.pie {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.535);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: rgba(84, 195, 217, 0.847); }
  .pie p {
    padding-left: 0px;
    padding-right: 0px; }

.pieDePagina {
  display: flex; }
  .pieDePagina h2 {
    font-size: 25px; }

.pieParrafos {
  display: flex;
  flex-direction: column;
  margin-top: 10px; }

.logosInicio {
  display: flex; }
  .logosInicio a i {
    text-decoration: none;
    color: rgba(84, 195, 217, 0.847);
    font-size: 35px;
    padding-bottom: 10px; }

.ig {
  margin-left: 50px;
  margin-right: 50px; }

.face {
  margin-left: 500px; }

.tw {
  margin-right: 50px; }

.git {
  margin-right: 50px; }

.steam {
  margin-right: 500px; }

.copy i {
  font-size: 15px; }

.parrafoPie {
  margin-top: 8px; }

.main {
  grid-area: main;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .main p {
    padding-left: 150px;
    padding-right: 150px; }

#flechaAbajo {
  margin-top: 35px;
  margin-bottom: 30px;
  color: #959595; }

#flechaArriba {
  margin-top: 35px;
  margin-bottom: 35px;
  color: #959595; }

.apartadoPrincipal h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px; }

.apartadoPrincipal h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  margin-top: 110px;
  margin-bottom: 30px; }

.apartadoPrincipal p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 23px; }

.parteUnoParrafoDos {
  margin-bottom: 8px; }

.parrafoDosInicio {
  margin-bottom: 35px; }

.botonesInicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center; }
  .botonesInicio a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: rgba(84, 195, 217, 0.847);
    font-size: 30px;
    font-weight: 500; }

.botonInicioUno {
  background-color: rgba(109, 117, 108, 0.432);
  margin-right: 70px;
  transition: 1s; }
  .botonInicioUno:hover {
    transform: scale(1.1); }
  .botonInicioUno a {
    padding: 10px; }

.botonInicioDos {
  background-color: rgba(109, 117, 108, 0.432);
  margin-right: 70px;
  transition: 1s; }
  .botonInicioDos:hover {
    transform: scale(1.1); }
  .botonInicioDos a {
    padding: 10px; }

.botonInicioTres {
  background-color: rgba(109, 117, 108, 0.432);
  margin-right: 48px;
  transition: 0.5s; }
  .botonInicioTres:hover {
    transform: scale(1.1); }
  .botonInicioTres a {
    padding: 10px; }

.main2 {
  grid-area: main2;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center; }
  .main2 h2 {
    margin-top: 80px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    text-align: center; }
  .main2 h3 {
    padding-top: 25px; }

.contenidoP {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 15%;
  justify-content: space-around; }
  .contenidoP div img {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    object-fit: cover; }

.perifericoCard {
  background-color: rgba(29, 126, 139, 0.123);
  border: 1px solid #292929;
  margin: 8px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: ridge;
  border-color: rgba(173, 167, 167, 0.755); }
  .perifericoCard h3 {
    text-align: center; }
  .perifericoCard a {
    margin-top: 30px;
    margin-bottom: 25px;
    background-color: rgba(109, 117, 108, 0.644);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: rgba(84, 195, 217, 0.847);
    font-size: 20px;
    font-weight: 100;
    transition: 0.5s; }
    .perifericoCard a:hover {
      transform: scale(1.2); }

#tecladoL a {
  margin-top: 18px;
  margin-bottom: 23px; }

#tecladoL img {
  width: 414px;
  height: 245px; }

#tecladoC a {
  margin-top: 18px;
  margin-bottom: 23px; }

#tecladoC img {
  width: 444px;
  height: 260px; }

#mouseR {
  max-width: 405px; }
  #mouseR img {
    width: 400px;
    height: 400px; }
  #mouseR h3 {
    margin-top: 20px; }
  #mouseR a {
    margin-top: 12px; }

#mouseRz {
  min-width: 405px;
  max-width: 405px; }
  #mouseRz img {
    margin-top: 5px;
    width: 370px;
    height: 370px; }
  #mouseRz h3 {
    margin-top: 15px; }

#mouseL {
  max-width: 405px; }
  #mouseL img {
    margin-top: 5px;
    width: 300px;
    height: 350px;
    padding-left: 0px;
    padding-right: 0px; }
  #mouseL h3 {
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 80px; }
  #mouseL a {
    margin-top: 20px; }

.main3 {
  grid-area: main3;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center; }
  .main3 h2 {
    margin-top: 50px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    text-align: center; }
  .main3 h3 {
    padding-top: 25px; }

.contenidoPC {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 15%;
  justify-content: space-around; }
  .contenidoPC div img {
    max-width: 100%;
    width: 420px;
    height: 420px;
    padding-left: 15px;
    padding-right: 15px;
    object-fit: cover; }

.pcCard {
  background-color: rgba(29, 126, 139, 0.123);
  border: 1px solid #292929;
  margin: 8px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: ridge;
  border-color: rgba(173, 167, 167, 0.755); }
  .pcCard h3 {
    text-align: center; }
  .pcCard h4 {
    text-align: center;
    color: #76ac93; }
  .pcCard a {
    margin-top: 30px;
    margin-bottom: 25px;
    background-color: rgba(109, 117, 108, 0.644);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: rgba(84, 195, 217, 0.847);
    font-size: 20px;
    font-weight: 100;
    transition: 0.5s; }
    .pcCard a:hover {
      transform: scale(1.2); }

.contenidoPC2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 15%;
  justify-content: space-around; }
  .contenidoPC2 div img {
    max-width: 100%;
    width: 450px;
    height: 450px;
    padding-left: 15px;
    padding-right: 15px; }

.pcCard2 {
  background-color: rgba(29, 126, 139, 0.123);
  border: 1px solid #292929;
  margin: 8px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: ridge;
  border-color: rgba(173, 167, 167, 0.755); }
  .pcCard2 h3 {
    text-align: center; }
  .pcCard2 a {
    margin-top: 30px;
    margin-bottom: 25px;
    background-color: rgba(109, 117, 108, 0.644);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: rgba(84, 195, 217, 0.847);
    font-size: 20px;
    font-weight: 100;
    transition: 0.5s; }
    .pcCard2 a:hover {
      transform: scale(1.2); }

#3090 img {
  object-fit: cover; }

#6950 img {
  object-fit: cover; }

#termica img {
  object-fit: none;
  padding-top: 8px; }

#w80 img {
  padding-top: 8px; }

#periferico1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px; }
  #periferico1 p {
    font-size: 23px; }

#encabezadosP {
  text-decoration: none;
  font-size: 40px;
  color: #62a023;
  margin-bottom: 10px; }
  #encabezadosP:hover {
    color: rgba(84, 195, 217, 0.847); }

.parrafoP1 h3 {
  margin-top: 50px; }

.parrafoP1 p {
  margin-top: 10px;
  margin-bottom: 25px; }

.linkParrafo a {
  text-decoration: none;
  color: rgba(84, 195, 217, 0.847);
  transition: 0.5s; }
  .linkParrafo a:hover {
    color: #c7eff7; }

#periferico2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px; }
  #periferico2 p {
    font-size: 23px; }

.parrafoP2 h3 {
  margin-top: 50px; }

.parrafoP2 p {
  margin-top: 10px;
  margin-bottom: 25px; }
  .parrafoP2 p i {
    font-size: 12px;
    text-align: center; }

#periferico3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px; }
  #periferico3 p {
    font-size: 23px; }

.parrafoP3 h3 {
  margin-top: 50px; }

.parrafoP3 p {
  margin-top: 10px;
  margin-bottom: 25px; }

#periferico4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px; }
  #periferico4 p {
    font-size: 23px; }

.parrafoP4 h3 {
  margin-top: 50px; }

.parrafoP4 p {
  margin-top: 10px;
  margin-bottom: 25px; }
  .parrafoP4 p i {
    font-size: 12px;
    text-align: center; }

#periferico5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px; }
  #periferico5 p {
    font-size: 25px; }

.parrafoP5 h3 {
  margin-top: 50px; }

.parrafoP5 p {
  margin-top: 10px;
  margin-bottom: 25px; }
  .parrafoP5 p i {
    font-size: 12px;
    text-align: center; }

#periferico6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px; }
  #periferico6 p {
    font-size: 23px; }

.parrafoP6 h3 {
  margin-top: 50px; }

.parrafoP6 p {
  margin-top: 10px;
  margin-bottom: 25px; }
  .parrafoP6 p i {
    font-size: 12px;
    text-align: center; }

.botonCompra {
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  transition: 1s; }
  .botonCompra:hover {
    transform: scale(1.3); }
  .botonCompra a {
    background-color: rgba(109, 117, 108, 0.432);
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 8px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: rgba(84, 195, 217, 0.847); }
    .botonCompra a i {
      font-size: 50px; }

.compra {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .compra h3 {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 5px; }
  .compra p {
    padding-left: 0px;
    padding-right: 0px; }

#pc1 {
  margin-top: 80px; }
  #pc1 p {
    font-size: 23px; }
  #pc1 a {
    display: flex;
    justify-content: center;
    text-align: center; }

.parrafoPC1 h3 {
  margin-top: 50px; }

.parrafoPC1 p {
  margin-top: 15px;
  margin-bottom: 20px; }
  .parrafoPC1 p i {
    font-size: 12px;
    text-align: center; }

.imgPC {
  display: flex;
  justify-content: center; }

.tabla h3 {
  text-align: start;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 28px; }

.tabla p {
  padding-left: 0px;
  padding-right: 20px; }

.tabla table {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
  border-bottom: 2px solid gray; }

#table2 {
  margin-left: 25%;
  margin-right: 25%; }

#table3 {
  margin-left: 30%;
  margin-right: 30%; }

.izquierda {
  text-align: start;
  padding-left: 10px; }

.derecha {
  padding-left: 0px;
  text-align: end; }

.compra2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .compra2 h3 {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 5px; }
  .compra2 p {
    padding-left: 0px;
    padding-right: 0px; }
  .compra2 a {
    padding-bottom: 10px; }

#pc2 {
  margin-top: 80px; }
  #pc2 p {
    font-size: 23px; }
  #pc2 a {
    display: flex;
    justify-content: center;
    text-align: center; }

.parrafoPC2 h3 {
  margin-top: 50px; }

.parrafoPC2 p {
  margin-top: 15px;
  margin-bottom: 20px; }
  .parrafoPC2 p i {
    font-size: 12px;
    text-align: center; }

#pc3 {
  margin-top: 80px; }
  #pc3 p {
    font-size: 23px; }
  #pc3 a {
    display: flex;
    justify-content: center;
    text-align: center; }

.parrafoPC3 h3 {
  margin-top: 50px; }

.parrafoPC3 p {
  margin-top: 15px;
  margin-bottom: 20px; }
  .parrafoPC3 p i {
    font-size: 12px;
    text-align: center; }

.derecha2 {
  padding-left: 200px;
  text-align: end; }

#pc4 {
  margin-top: 80px; }
  #pc4 p {
    font-size: 23px; }
  #pc4 a {
    display: flex;
    justify-content: center;
    text-align: center; }

.parrafoPC4 h3 {
  margin-top: 50px; }

.parrafoPC4 p {
  margin-top: 15px;
  margin-bottom: 20px; }
  .parrafoPC4 p i {
    font-size: 12px;
    text-align: center; }

#pc5 {
  margin-top: 80px; }
  #pc5 p {
    font-size: 23px; }
  #pc5 a {
    display: flex;
    justify-content: center;
    text-align: center; }

.parrafoPC5 h3 {
  margin-top: 50px; }

.parrafoPC5 p {
  margin-top: 15px;
  margin-bottom: 20px; }
  .parrafoPC5 p i {
    font-size: 12px;
    text-align: center; }

#pc6 {
  margin-top: 80px; }
  #pc6 p {
    font-size: 23px; }
  #pc6 a {
    display: flex;
    justify-content: center;
    text-align: center; }

.parrafoPC6 h3 {
  margin-top: 50px; }

.parrafoPC6 p {
  margin-top: 15px;
  margin-bottom: 20px; }
  .parrafoPC6 p i {
    font-size: 12px;
    text-align: center; }

#pc7 {
  margin-top: 80px; }
  #pc7 p {
    font-size: 23px; }
  #pc7 a {
    display: flex;
    justify-content: center;
    text-align: center; }

.parrafoPC7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .parrafoPC7 h3 {
    margin-top: 50px;
    text-align: center; }
  .parrafoPC7 p {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center; }
    .parrafoPC7 p i {
      font-size: 12px;
      text-align: center; }

#iframeArtic {
  display: flex;
  justify-content: center; }

#iframeW80 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px; }

#pc8 {
  margin-top: 80px; }
  #pc8 p {
    font-size: 23px; }
  #pc8 a {
    display: flex;
    justify-content: center;
    text-align: center; }

.parrafoPC8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .parrafoPC8 h3 {
    margin-top: 50px;
    text-align: center; }
  .parrafoPC8 p {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center; }
    .parrafoPC8 p i {
      font-size: 12px;
      text-align: center; }

#pc9 {
  margin-top: 80px; }
  #pc9 p {
    font-size: 23px; }
  #pc9 a {
    display: flex;
    justify-content: center;
    text-align: center; }

.parrafoPC9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .parrafoPC9 h3 {
    margin-top: 50px;
    text-align: center; }
  .parrafoPC9 p {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center; }
    .parrafoPC9 p i {
      font-size: 12px;
      text-align: center; }

.main4 {
  grid-area: main4;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 80px;
  margin-bottom: 60px; }
  .main4 h2 {
    font-size: 35px; }
  .main4 h3 {
    color: #62a023;
    font-size: 30px; }
  .main4 p {
    font-size: 22px; }

#noticia1 {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 50px; }
  #noticia1 p {
    padding-left: 0px;
    padding-right: 0px; }

#noticia2 {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }
  #noticia2 p {
    padding-left: 0px;
    padding-right: 0px; }

#noticia3 {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }
  #noticia3 p {
    padding-left: 0px;
    padding-right: 0px; }

.noticiaCompleta {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(109, 117, 108, 0.432);
  color: rgba(84, 195, 217, 0.847);
  font-family: 'Source Code Pro', monospace;
  font-size: 25px; }

.laNoticia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .laNoticia a {
    text-decoration: none;
    color: #62a023;
    margin-top: 110px;
    font-size: 40px; }
    .laNoticia a:hover {
      color: rgba(84, 195, 217, 0.847); }
  .laNoticia h3 {
    margin-top: 50px; }
  .laNoticia p {
    margin-top: 5px;
    margin-bottom: 25px;
    padding-left: 150px;
    padding-right: 150px; }
  .laNoticia img {
    margin-top: 20px;
    margin-bottom: 20px; }

.main5 {
  grid-area: main5;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center; }
  .main5 h2 {
    text-align: center; }

form {
  max-width: 820px;
  margin: 100px auto;
  margin-top: 115px; }
  form textarea {
    height: 200px;
    line-height: 150%;
    resize: vertical; }

.feedback-input {
  color: #62a023;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #4e8b70;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0; }

.feedback-input:focus {
  border: 2px solid rgba(84, 195, 217, 0.847); }

[type="submit"] {
  width: 100%;
  background: rgba(84, 195, 217, 0.847);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700; }
  [type="submit"]:hover {
    background: #8b8d8dc4; }

@media screen and (max-width: 991px) {
  .nav-link {
    border-top: 0.5px solid #959595;
    border-bottom: 0.5px solid #959595;
    font-size: 20px; }
    .nav-link i {
      font-size: 20px;
      color: #4e8b70; } }

@media screen and (max-width: 466px) {
  .navbar img {
    height: 85px;
    width: 300px; }
  .navbar-toggler {
    margin-right: 20px; } }

@media screen and (max-width: 440px) {
  .navbar-toggler {
    margin-right: 10px; } }

@media screen and (max-width: 425px) {
  .navbar-toggler {
    margin-right: 5px; } }

@media screen and (max-width: 410px) {
  .navbar img {
    height: 80px;
    width: 280px; }
  .navbar-toggler {
    margin-right: 10px; } }

@media screen and (max-width: 395px) {
  .navbar-toggler {
    margin-right: 5px; } }

@media screen and (max-width: 390px) {
  .navbar-toggler {
    margin-right: 0px; } }

@media screen and (max-width: 385px) {
  .navbar img {
    height: 70px;
    width: 250px; }
  .navbar-toggler {
    margin-right: 0px; } }

@media screen and (max-width: 355px) {
  .navbar img {
    height: 60px;
    width: 230px; }
  .navbar-toggler span i {
    font-size: 30px; } }

@media screen and (max-width: 325px) {
  .navbar img {
    height: 67px;
    width: 220px; }
  .navbar-toggler {
    margin-right: 0px; } }

@media screen and (max-width: 1400px) {
  .face {
    margin-left: 100px; }
  .steam {
    margin-right: 100px; } }

@media screen and (max-width: 664px) {
  .logosInicio a i {
    font-size: 30px;
    margin-top: 20px; }
  .face {
    margin-left: 30px; }
  .steam {
    margin-right: 30px; } }

@media screen and (max-width: 425px) {
  .face {
    margin-left: 0px; }
  .steam {
    margin-right: 0px; } }

@media screen and (max-width: 350px) {
  .ig {
    margin-left: 20px;
    margin-right: 20px; }
  .tw {
    margin-right: 20px; }
  .git {
    margin-right: 20px; } }

@media screen and (max-width: 1629px) {
  .main {
    margin-top: 20px;
    margin-bottom: 25px; }
    .main p {
      padding-left: 100px;
      padding-right: 100px; }
  #flechaAbajo {
    margin-top: 5px;
    margin-bottom: 20px; }
  #flechaArriba {
    margin-top: 20px;
    margin-bottom: 5px; }
  .apartadoPrincipal h2 {
    margin-top: 70px; } }

@media screen and (max-width: 1154px) {
  .gridContainer {
    grid-template-rows: auto auto auto; }
  .main h1 {
    font-size: 40px; }
  .main h2 {
    font-size: 35px; }
  .main p {
    padding-left: 50px;
    padding-right: 50px; } }

@media screen and (max-width: 980px) {
  .main h1 {
    padding-left: 20px;
    padding-right: 20px; }
  .main h2 {
    padding-left: 15px;
    padding-right: 15px; }
  .main p {
    padding-left: 60px;
    padding-right: 60px; }
  .botonesInicio {
    flex-direction: column; }
    .botonesInicio a {
      font-size: 25px; }
  .botonInicioUno {
    margin-bottom: 20px;
    margin-left: 70px; }
  .botonInicioDos {
    margin-bottom: 20px;
    margin-left: 70px; }
  .botonInicioTres {
    margin-bottom: 20px;
    margin-left: 50px; } }

@media screen and (max-width: 929px) {
  .main {
    margin-top: 30px; }
    .main h1 {
      font-size: 35px; }
    .main h2 {
      font-size: 30px; }
    .main p {
      font-size: 21px; }
  .botonesInicio a {
    font-size: 23px; } }

@media screen and (max-width: 521px) {
  .main h1 {
    font-size: 25px;
    padding-left: 0px;
    padding-right: 0px; }
  .main h2 {
    font-size: 23px;
    margin-top: 55px;
    padding-left: 0px;
    padding-right: 0px; }
  .main p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px; }
  .pie p {
    font-size: 20px; }
  .botonesInicio a {
    font-size: 20px; } }

@media screen and (max-width: 415px) {
  .main h1 {
    font-size: 20px; }
  .main h2 {
    font-size: 18px; }
  .main p {
    font-size: 15px; }
  .pie p {
    font-size: 15px; }
  .parrafoDosInicio {
    margin-bottom: 20px; }
  .botonesInicio a {
    font-size: 15px; } }

@media screen and (max-width: 380px) {
  .botonesInicio {
    margin-top: 50px; }
  .parrafoDosInicio {
    margin-bottom: 10px; } }

@media screen and (max-width: 329px) {
  .main h1 {
    font-size: 15px; }
  .main h2 {
    font-size: 15px; }
  .main p {
    font-size: 15px; }
  .pie p {
    font-size: 10px; }
  .parrafoDosInicio {
    margin-bottom: 5px; }
  .botonesInicio a {
    font-size: 15px; } }

@media screen and (max-width: 1421px) {
  .contenidoP {
    flex-direction: column;
    align-items: center; }
  .perifericoCard {
    margin-bottom: 80px; } }

@media screen and (max-width: 1154px) {
  .gridContainer2 {
    grid-template-rows: auto auto auto; }
  .main2 h3 {
    font-size: 25px; }
  .main2 p {
    font-size: 15px;
    padding-left: 15%;
    padding-right: 15%; }
  #encabezadosP {
    font-size: 35px; }
  .iframeP iframe {
    width: 100vh;
    height: 50vh; } }

@media screen and (max-width: 999px) {
  .iframeP iframe {
    width: 80vh;
    height: 40vh; } }

@media screen and (max-width: 849px) {
  .iframeP iframe {
    width: 70vh;
    height: 50vh; } }

@media screen and (max-width: 759px) {
  #main6 h3 {
    font-size: 25px; }
  #main6 p {
    font-size: 20px; }
  #encabezadosP {
    font-size: 30px; }
  .iframeP iframe {
    width: 65vh;
    height: 45vh; } }

@media screen and (max-width: 609px) {
  #main6 h3 {
    font-size: 22px; }
  #main6 p {
    font-size: 18.5px; }
  #encabezadosP {
    font-size: 27px; }
  .iframeP iframe {
    width: 50vh;
    height: 30vh; }
  .botonCompra a i {
    font-size: 40px; }
  .perifericoCard h3 {
    font-size: 22px; }
  .perifericoCard a {
    font-size: 18px; }
  #todosMouses {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 300px; }
    #todosMouses img {
      width: 300px;
      height: 300px; }
  #mouseRz {
    min-width: 300px; }
  #mouseR {
    min-width: 300px; } }

@media screen and (max-width: 473px) {
  #main6 h3 {
    font-size: 20px; }
  #main6 p {
    font-size: 15px;
    padding-left: 5%;
    padding-right: 5%; }
  #encabezadosP {
    font-size: 23px; } }

@media screen and (max-width: 466px) {
  .iframeP iframe {
    width: 45vh;
    height: 30vh; } }

@media screen and (max-width: 429px) {
  .iframeP iframe {
    width: 40vh;
    height: 25vh; } }

@media screen and (max-width: 416px) {
  #tecladoL img {
    width: auto;
    height: auto; } }

@media screen and (max-width: 392px) {
  #main6 h3 {
    font-size: 19px; }
  #main6 p {
    font-size: 15px; }
  #encabezadosP {
    font-size: 25px; }
  .iframeP iframe {
    width: 35vh;
    height: 20vh; }
  #todosMouses {
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    max-width: 250px; }
    #todosMouses img {
      width: 250px;
      height: 250px; }
  #mouseRz {
    min-width: 250px; }
  #mouseR {
    min-width: 250px; }
  #mouseL {
    min-width: 250px;
    max-width: 250px; }
  .botonCompra a i {
    font-size: 30px; } }

@media screen and (max-width: 350px) {
  .iframeP iframe {
    width: 30vh;
    height: 20vh; } }

@media screen and (max-width: 1629px) {
  .izquierda {
    padding-left: 0px; }
  .tabla h3 {
    padding-left: 0px; }
  .tabla table {
    margin-left: 15%;
    margin-right: 15%; }
  #table2 {
    margin-left: 25%;
    margin-right: 25%; }
  #table3 {
    margin-left: 25%;
    margin-right: 25%; }
  .pcGeneral p {
    padding-right: 0px; } }

@media screen and (max-width: 1421px) {
  .contenidoPC {
    flex-direction: column;
    align-items: center; }
  .pcCard {
    margin-bottom: 80px; }
  .contenidoPC2 {
    flex-direction: column;
    align-items: center; }
  .pcCard2 {
    margin-bottom: 80px; }
  .tabla h3 {
    font-size: 25px; }
  .tabla table {
    margin-left: 15%;
    margin-right: 15%; }
  #table2 {
    margin-left: 20%;
    margin-right: 20%; }
  #table3 {
    margin-left: 25%;
    margin-right: 25%; }
  .derecha {
    padding-left: 20px; }
  #pc1 p {
    font-size: 20px; }
  #pc2 p {
    font-size: 20px; }
  #pc3 p {
    font-size: 20px; }
  #pc4 p {
    font-size: 20px; }
  #pc5 p {
    font-size: 20px; }
  #pc6 p {
    font-size: 20px; } }

@media screen and (max-width: 1154px) {
  .gridContainer3 {
    grid-template-rows: auto auto auto; }
  .main3 h3 {
    font-size: 25px; }
  .main3 h4 {
    font-size: 20px; }
  .main3 p {
    font-size: 15px;
    padding-left: 15%;
    padding-right: 15%; }
  .tabla table {
    margin-left: 10%;
    margin-right: 10%; }
  #table2 {
    margin-left: 15%;
    margin-right: 15%; }
  #table3 {
    margin-left: 20%;
    margin-right: 20%; }
  #pc1 h3 {
    font-size: 23px; }
  #pc1 p {
    padding-left: 0%;
    padding-right: 0%; }
  #pc2 h3 {
    font-size: 23px; }
  #pc2 p {
    padding-left: 0%;
    padding-right: 0%; }
  #pc3 h3 {
    font-size: 23px; }
  #pc3 p {
    padding-left: 0%;
    padding-right: 0%; }
  #pc4 h3 {
    font-size: 23px; }
  #pc4 p {
    padding-left: 0%;
    padding-right: 0%; }
  #pc5 h3 {
    font-size: 23px; }
  #pc5 p {
    padding-left: 0%;
    padding-right: 0%; }
  #pc6 h3 {
    font-size: 23px; }
  #pc6 p {
    padding-left: 0%;
    padding-right: 0%; } }

@media screen and (max-width: 1000px) {
  .tabla h3 {
    font-size: 20px; }
  #pc1 p {
    font-size: 17px; }
  #pc2 p {
    font-size: 17px; }
  #pc3 p {
    font-size: 17px; }
  #pc4 p {
    font-size: 17px; }
  #pc5 p {
    font-size: 17px; }
  #pc6 p {
    font-size: 17px; } }

@media screen and (max-width: 825px) {
  .tabla h3 {
    font-size: 18.5px; }
  .tabla table {
    margin-left: 5%;
    margin-right: 5%; }
  #table2 {
    margin-left: 10%;
    margin-right: 10%; }
  #table3 {
    margin-left: 15%;
    margin-right: 15%; }
  .derecha {
    padding-left: 10px; }
  .derecha2 {
    padding-left: 80px; }
  .pcGeneral img {
    max-width: 70%; } }

@media screen and (max-width: 720px) {
  #pc1 p {
    font-size: 15px; }
  #pc2 p {
    font-size: 15px; }
  #pc3 p {
    font-size: 15px; }
  #pc4 p {
    font-size: 15px; }
  #pc5 p {
    font-size: 15px; }
  #pc6 p {
    font-size: 15px; } }

@media screen and (max-width: 609px) {
  .botonCompra a i {
    font-size: 40px; } }

@media screen and (max-width: 600px) {
  .tabla table {
    margin-left: 0%;
    margin-right: 0%; }
  #table2 {
    margin-left: 0%;
    margin-right: 0%; }
  #table3 {
    margin-left: 0%;
    margin-right: 0%; }
  #pc1 h3 {
    font-size: 18.5px; }
  #pc2 h3 {
    font-size: 18.5px; }
  #pc3 h3 {
    font-size: 18.5px; }
  #pc4 h3 {
    font-size: 18.5px; }
  #pc5 h3 {
    font-size: 18.5px; }
  #pc6 h3 {
    font-size: 18.5px; } }

@media screen and (max-width: 499px) {
  .pcCard {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px; }
    .pcCard img {
      width: auto;
      height: auto; }
  #termica img {
    object-fit: cover; }
  .pcCard2 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 450px; }
    .pcCard2 img {
      width: auto;
      height: auto; }
  #pc1 h3 {
    font-size: 15px; }
  #pc1 p {
    font-size: 13px; }
  #pc2 h3 {
    font-size: 16px; }
  #pc2 p {
    font-size: 14px; }
  #pc3 h3 {
    font-size: 17px; }
  .derecha2 {
    padding-left: 0px; }
  #pc4 h3 {
    font-size: 17px; }
  #pc5 h3 {
    font-size: 17px; }
  #pc6 h3 {
    font-size: 17px; } }

@media screen and (max-width: 340px) {
  #pc1 h3 {
    font-size: 15px; }
  #pc1 p {
    font-size: 10px; }
  #pc2 h3 {
    font-size: 15px; }
  #pc2 p {
    font-size: 10px; }
  #pc3 h3 {
    font-size: 15px; }
  #pc3 p {
    font-size: 10px; }
  #pc3 #pc4 h3 {
    font-size: 15px; }
  #pc3 p {
    font-size: 10px; }
  #pc5 h3 {
    font-size: 15px; }
  #pc5 p {
    font-size: 10px; }
  #pc6 h3 {
    font-size: 15px; }
  #pc6 p {
    font-size: 10px; } }

@media screen and (max-width: 1200px) {
  .laNoticia p {
    padding-left: 130px;
    padding-right: 130px; } }

@media screen and (max-width: 1154px) {
  .gridContainer4 {
    grid-template-rows: auto auto auto; }
  .main4 h2 {
    font-size: 30px; }
  .main4 h3 {
    font-size: 25px; }
  .main4 p {
    font-size: 20px; }
  .laNoticia p {
    padding-left: 100px;
    padding-right: 100px; } }

@media screen and (max-width: 991px) {
  .row h3 {
    margin-top: 20px; }
  .row a {
    font-size: 22px; }
  .main4 h2 {
    font-size: 28px;
    text-align: center; }
  .main4 p {
    font-size: 18px; }
  .laNoticia p {
    padding-left: 50px;
    padding-right: 50px; } }

@media screen and (max-width: 767px) {
  .main4 h2 {
    font-size: 25px; }
  .main4 p {
    font-size: 16.5px; }
  .row a {
    font-size: 20px; }
  .laNoticia a {
    font-size: 30px; }
  .laNoticia p {
    padding-left: 20px;
    padding-right: 20px; } }

@media screen and (max-width: 559px) {
  .laNoticia h3 {
    font-size: 23px; }
  .laNoticia p {
    padding-left: 15px;
    padding-right: 15px; } }

@media screen and (max-width: 500px) {
  .laNoticia a {
    font-size: 25px; }
  .laNoticia h3 {
    font-size: 20px; }
  .laNoticia p {
    padding-left: 0px;
    padding-right: 0px; }
  .laNoticia img {
    max-width: 80%; } }

@media screen and (max-width: 400px) {
  .main4 h2 {
    font-size: 25px; }
  .laNoticia a {
    font-size: 23px; }
  .laNoticia h3 {
    font-size: 18px; }
  .laNoticia p {
    font-size: 15px; } }

@media screen and (max-width: 341px) {
  .laNoticia a {
    font-size: 20px; } }

@media screen and (max-width: 1154px) {
  .gridContainer5 {
    grid-template-rows: auto auto auto; } }
