@import "../base/variables";

.main5{
    grid-area: main5;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#resetear{
    margin-top: 20px;
    margin-bottom: 5px;
}

#enviar{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.form{
    border: 3px solid rgba(134, 133, 133, 0.993);
    margin-top: 30px;
}

.email{
    background-color: rgba(46, 143, 86, 0.842);
    padding-bottom: 10px;
}

.nombre{
    background-color: rgba(46, 143, 86, 0.842);
    padding-bottom: 10px;
}

.textarea{
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(46, 143, 86, 0.842);
}