@import "../base/variables";

.main5 {
    grid-area: main5;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;

    h2 {
        text-align: center;
    }
}

form {
    max-width: 820px;
    margin: 100px auto;
    margin-top: 115px;

    textarea {
        height: 200px;
        line-height: 150%;
        resize: vertical;
    }
}

.feedback-input {
    color: $color-principal;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid $color-secundario;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid $color-links;
}

[type="submit"] {
    width: 100%;
    background: $color-links;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;

    &:hover {
        background: #8b8d8dc4;
    }
}