// INFO 1
#ejemplo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
}

.imgEjemplo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    iframe {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.parrafoEjemplo1 {
    h3 {
        margin-top: 50px;
    }
    p {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.linkParrafo {
    a {
        text-decoration: none;
        color: rgba(84, 195, 217, 0.847);
    }
}

.compraEjemplo1 {
    h3 {
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 5px;
    }
}


//INFO 2
#ejemplo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
}

.parrafoEjemplo2{
    h3{
        margin-top: 50px;
    }
    p{
        margin-top: 25px;
        margin-bottom: 25px;
        i{
            font-size: 12px;
            text-align: center;
        }
    }
}

.compraEjemplo2{
    h3{
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 5px;
    }
}

// INFO 3
#ejemplo3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    h2{
        font-size: 40px;
    }
    p{
        font-size: 25px;
    }
}

.parrafoEjemplo3 {
    h3 {
        margin-top: 50px;
    }
    p {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.compraEjemplo3{
    h3{
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 5px;
    }
}


// BOTON COMPRA
.botonCompraEjemplo {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    transition: 1s;
    &:hover {
        transform: scale(1.3);
    }
    a {
        background-color: rgba(109, 117, 108, 0.432);
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 8px;
        text-decoration: none;
        font-family: 'Source Code Pro', monospace;
        color: rgba(84, 195, 217, 0.847);
        i {
            font-size: 50px;
        }
    }
}

