@import "../base/variables";

// <PERIFERICOS>
// PERIFERICO 1
#periferico1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;

    p {
        font-size: 23px;
    }
}

#encabezadosP {
    text-decoration: none;
    font-size: 40px;
    color: $color-principal;
    margin-bottom: 10px;

    &:hover {
        color: $color-links;
    }
}

.parrafoP1 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 25px;
    }
}

.linkParrafo {
    a {
        text-decoration: none;
        color: $color-links;
        transition: 0.5s;

        &:hover {
            color: rgb(199, 239, 247);
        }
    }
}

//PERIFERICO 2
#periferico2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;

    p {
        font-size: 23px;
    }
}

.parrafoP2 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 25px;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

// PERIFERICO 3
#periferico3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;

    p {
        font-size: 23px;
    }
}

.parrafoP3 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 25px;
    }
}

// PERIFERICO 4
#periferico4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;

    p {
        font-size: 23px;
    }
}

.parrafoP4 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 25px;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

// PERIFERICO 5
#periferico5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;

    p {
        font-size: 25px;
    }
}

.parrafoP5 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 25px;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

// PERIFERICO 6
#periferico6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;

    p {
        font-size: 23px;
    }
}

.parrafoP6 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 25px;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

// BOTON COMPRA
.botonCompra {
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    transition: 1s;

    &:hover {
        transform: scale(1.3);
    }

    a {
        background-color: rgba(109, 117, 108, 0.432);
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 8px;
        text-decoration: none;
        font-family: 'Source Code Pro', monospace;
        color: $color-links;

        i {
            font-size: 50px;
        }
    }
}

.compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 5px;
    }

    p {
        padding-left: 0px;
        padding-right: 0px;
    }
}

// </PERIFERICOS>



// <PC>
// PC 1
#pc1 {
    margin-top: 80px;

    p {
        font-size: 23px;
    }

    a {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.parrafoPC1 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 15px;
        margin-bottom: 20px;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

.imgPC {
    display: flex;
    justify-content: center;
}

.tabla {
    h3 {
        text-align: start;
        padding-left: 10px;
        margin-bottom: 15px;
        font-size: 28px;
    }

    p {
        padding-left: 0px;
        padding-right: 20px;
    }

    table {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 30px;
        border-bottom: 2px solid gray;
    }
}

#table2 {
    margin-left: 25%;
    margin-right: 25%;
}

#table3 {
    margin-left: 30%;
    margin-right: 30%;
}

.izquierda {
    text-align: start;
    padding-left: 10px;
}

.derecha {
    padding-left: 0px;
    text-align: end;
}

.compra2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 5px;
    }

    p {
        padding-left: 0px;
        padding-right: 0px;
    }

    a {
        padding-bottom: 10px;
    }
}

// PC 2
#pc2 {
    margin-top: 80px;

    p {
        font-size: 23px;
    }

    a {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.parrafoPC2 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 15px;
        margin-bottom: 20px;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

// PC 3
#pc3 {
    margin-top: 80px;

    p {
        font-size: 23px;
    }

    a {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.parrafoPC3 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 15px;
        margin-bottom: 20px;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

.derecha2 {
    padding-left: 200px;
    text-align: end;
}

// PC 4
#pc4 {
    margin-top: 80px;

    p {
        font-size: 23px;
    }

    a {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.parrafoPC4 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 15px;
        margin-bottom: 20px;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

// PC 5
#pc5 {
    margin-top: 80px;

    p {
        font-size: 23px;
    }

    a {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.parrafoPC5 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 15px;
        margin-bottom: 20px;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

// PC 6
#pc6 {
    margin-top: 80px;

    p {
        font-size: 23px;
    }

    a {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.parrafoPC6 {
    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 15px;
        margin-bottom: 20px;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

// PC 7
#pc7 {
    margin-top: 80px;

    p {
        font-size: 23px;
    }

    a {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.parrafoPC7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin-top: 50px;
        text-align: center;
    }

    p {
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

#iframeArtic {
    display: flex;
    justify-content: center;
}

#iframeW80 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

// PC 8
#pc8 {
    margin-top: 80px;

    p {
        font-size: 23px;
    }

    a {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.parrafoPC8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin-top: 50px;
        text-align: center;
    }

    p {
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

// PC 9
#pc9 {
    margin-top: 80px;

    p {
        font-size: 23px;
    }

    a {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.parrafoPC9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin-top: 50px;
        text-align: center;
    }

    p {
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center;

        i {
            font-size: 12px;
            text-align: center;
        }
    }
}

// </PC>