@import "../base/variables";
@import "../base/extend";

//INICIO
.gridContainer {
    @extend %layout;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: $color-principal;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px auto 100px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
}



// PERIFERICOS
.gridContainer2 {
    @extend %layout;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: $color-principal;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px auto 100px;
    grid-template-areas:
        "header header header"
        "main2 main2 main2"
        "footer footer footer"
    ;
}



// PC
.gridContainer3 {
    @extend %layout;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: $color-principal;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px auto 100px;
    grid-template-areas:
        "header header header"
        "main3 main3 main3"
        "footer footer footer"
    ;
}



// NOTICIAS
.gridContainer4 {
    @extend %layout;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: $color-principal;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px auto 100px;
    grid-template-areas:
        "header header header"
        "main4 main4 main4"
        "footer footer footer"
    ;
}



// CONTACTO
.gridContainer5 {
    @extend %layout;
    background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)), url(../img/fondo5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Trispace', sans-serif;
    color: $color-principal;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px auto 100px;
    grid-template-areas:
        "header header header"
        "main5 main5 main5"
        "footer footer footer"
    ;
}