@import "../base/variables";

.main4 {
    grid-area: main4;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 80px;
    margin-bottom: 60px;

    h2 {
        font-size: 35px;
    }

    h3 {
        color: $color-principal;
        font-size: 30px;
    }

    p {
        font-size: 22px;
    }
}

#noticia1 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 50px;

    p {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#noticia2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    p {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#noticia3 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    p {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.noticiaCompleta {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(109, 117, 108, 0.432);
    color: $color-links;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
}

.laNoticia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    a {
        text-decoration: none;
        color: $color-principal;
        margin-top: 110px;
        font-size: 40px;

        &:hover {
            color: $color-links;
        }
    }

    h3 {
        margin-top: 50px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 25px;
        padding-left: 150px;
        padding-right: 150px;
    }

    img {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}