.main4{
    grid-area: main4;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 30px;
    margin-bottom: 30px;
    h2{
        font-size: 35px;
    }
    h3{
        color: rgb(98, 160, 35);
        font-size: 30px;
    }
    p{
        font-size: 22px;
    }
}

#noticia1{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

#noticia2{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#noticia3{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.noticiaCompleta{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(109, 117, 108, 0.432);
    color: rgba(84, 195, 217, 0.847);
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
}

.laNoticia{
    display: flex;
    flex-direction: column;
    text-align: center;
    h2{
        color: rgb(98, 160, 35);
        margin-top: 110px;
    }
    img{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
